.footer-container {
  display: flex;
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 1rem;
  padding-bottom: 1.1rem;
}

.footer-content {
  display: flex;
  flex: 1;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: normal;
  font-size: 1.0625rem;
  line-height: 1.5rem;
  max-width: 64rem;
  margin-left: 2rem;
  text-decoration: none;
  list-style: none;

  .contact-link {
    margin-top: 0.5rem;
    margin-left: 10%;
  }

  .mail-icon {
    height: 4rem;
  }
}