
@import 'fonts';
@import 'css_reset';
@import 'jumbotron';
@import 'navbar';
@import 'pages/page';
@import 'footer';

body {
	font-family: 'charterregular', sans-serif;
}

.site-container {
	display: flex;
	justify-content: center;
}




