
@import 'fonts';
@import 'css_reset';
@import 'jumbotron';
@import 'navbar';
@import 'pages/page';
@import 'pages/adressaten';
@import 'pages/startseite';
@import 'footer';


body {
	font-family: 'charterregular', sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

.site-container {
	display: flex;
	justify-content: center;
}




