.page-container {
	margin-left: 2rem;
	margin-right: 2rem;
	margin-bottom: 2rem;
	margin-top: 1.5rem;
	width: 64rem;
	display: flex;
	font-size: 1.0625rem;
	line-height: 1.5;

		h4 {
			padding-bottom: 1rem;
			padding-top: 0.5rem;
			letter-spacing: 1.5;
			margin-bottom: -0.5rem;
			font-family: "PT Sans Narrow", sans-serif;
			font-weight: normal;
			font-size: 1.4rem;
		}

		p {
			padding-bottom: 1rem;
			margin-left: 0.5rem;
			color: #333333;
		}

		ul, ol {
			padding-top: 0;
			padding-bottom: 1rem;
		}

		strong {
			font-family: 'charterbold';
		}

		hr { 
			margin-top: 0px;
			border: 0;
			height: 2px;
		}

		.devider {
			align-self: none;
			height: 8px;
			width: 100%;
			background-color: #7d1816;
		}
}

.petition-link-container {
	max-width: 15rem;
	flex: 1;
	border: 2px solid #a60014;
	margin-bottom: 1rem;
	margin-left: 1rem;
	padding: 0.5rem 0 0.4rem 0;
	border-radius: 3px;
	text-align: center;
	
	&:hover {
		border-width: 2.5px;
	}	

	.petition-link {
		font-size: 1.5rem;
		padding: 1rem 1.2rem 1rem 1.2rem;
		font-family: "PT Sans Narrow", sans-serif;
		font-weight: 700;
		text-decoration: none;
		color: #a60014;
		cursor: pointer;
	
			&:hover {
				border-width: 2.5px;
			}	
	}
}	

.link-to-papier, .link-to-more {
	color: #000;
}

.presse-link {
	color: blue;
	text-decoration: none;
}

.content-container {
	flex: 0.78;
	padding-right: 3rem;
}

.slider-container {
	flex: 0.29;
	width: 14rem;
}
